<p>
  <strong>Name:</strong>
  <%= @criminal.name %>
</p>
 
<p>
  <strong>IC:</strong>
  <%= @criminal.ic %>
</p>

<p>
  <strong>Offence:</strong>
  <%= @criminal.offence %>
</p>

<%= link_to 'Back', criminals_path %>